
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
    body {
      background: #081421;
      color: #999;
      font-family: Roboto;
      background-image: url(../backgrounds/);
      background-size: contain;
      background-position: center;
      --color-1:#7abe79;
    }
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #7abe79;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
    .hero>h1 {
      font-weight: 100;
      font-size: 5em;
      color: #110f0f;
      text-align: center;
      display: inline-block;
      background: #eee;
      border-radius: 20px;
    }
    .hero>h1:nth-of-type(2){
        background: #a29adf;
    }
    p {
      font-weight: 300;
    }

    .social,.langs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      background: #7abe79;
    }

     .social>a{
      /*animation-timing-function: cubic-bezier(.22, 1.46, .9, .05);*/
      animation-name: pop;
      animation-duration: .4s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-delay: 2s;
    }
    .social img:hover{
      animation-name: pop;
      animation-duration: .6s;
      animation-fill-mode: forwards;
    }
	.social>a:nth-of-type(2){
		animation-delay: 2.1s;
	}
	.social>a:nth-of-type(3){
		animation-delay: 2.2s;
	}
	.social>a:nth-of-type(4){
		animation-delay: 2.3s;
	}

    @keyframes pop {
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }

    .social>a>img {
      height: 200px;
      width: 200px;
    }
    .langs>a>img{
      height: 100px;
      width: 100px;
    }
    .langs>a{
      margin: .7%;
    }
    .hero {
      display: flex;
      justify-content: space-around;
    }
    .profile {
      display: inline-block;
      float: left;
    }

    .profile>img {
      border-radius: 50%;
      margin-top: 18%;
    }

    .bio{
      display: flex;
      justify-content: center;
    }
    .bio>p{
      background: #fefefe;
      width: 70%;
      font-size: 3em;
      padding:3%;
      border-radius: 30px;
      text-align: justify;
    }

    .absolute {
      position: absolute;
    }

    .warning-content {
      top: 25%;
      max-width: 500px;
      text-align: center;
      margin: auto;
    }

    .button {
      border: none;
      background-color: #FF7486;
      padding: 20px 55px;
      border-radius: 10px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.19);
      color: #fff;
      text-transform: uppercase;
      margin-top: 15px;
      cursor: pointer;
    }
    /*/////////////////////////    svg    //////////////////////////////*/

    svg#pennello {
      width: 130px;
    }

    .vernice {
      fill: none;
      stroke: ;
      stroke-width: 208px;
      transition: all 3s;
      animation-name: spread;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    .verniceOver {
      stroke-dashoffset: 0px;
    }

    .brush {
      transform: translateY(-456px);
      transition: all 3s;
      animation-name: move;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    .brushOver {}

    .gocce {
      opacity: 0;
      transition: all 1s;
    }

    .gocceOver {
      opacity: 1;
      transition-delay: 3s;
    }

    .st0 {
      fill: none;
      stroke: #FF5886;
      stroke-width: 201;
      stroke-miterlimit: 10;
    }

    .st2 {
      fill: none;
    }

    .st3 {
      fill: none;
      stroke: #282828;
      stroke-width: 5.908;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }

    .st4 {
      fill: #FF0086;
    }

    .st5 {
      fill: #FF5886;
    }

    .st6 {
      fill: #FF7486;
    }

    .st7 {
      fill: none;
      stroke: #282828;
      stroke-width: 11.8159;
      stroke-miterlimit: 10;
    }

    .st8 {
      fill: #53D398;
    }

    .st9 {
      fill: #439B6F;
    }

    .st10 {
      fill: none;
      stroke: #282828;
      stroke-width: 2.954;
      stroke-miterlimit: 10;
    }

    @keyframes move {
      50% {
        transform: translateY(0px);
      }
    }

    @keyframes spread {
      50% {
        height: 600px;
      }
    }


/* MEDIA QUERY */
@media screen
  and (min-width: 400px)
  and (min-height: 800px)
  and (orientation: portrait) {
  .hero>h1{
    margin:.6%;
  }
  .hero>h1:first-of-type{
    height: 1.5em;
  }
}
/* MEDIA QUERY END */
